body {
    background-color:yellow
}

.sportsbuttons {
    width: 25%;
    
}
/*Sources W3schools, Google, Trivia homework*/

.sportsbuttons:hover {
    color:purple;
}

.sportsbuttons:active {
    color:blue;
}

.sportsbuttons:focus {   
    background-color: orange;
}

/*We do this media query to change the background color 
and introduce padding for iPhone*/
@media screen and (max-width: 640px) {
    body {
        background-color:white;
        padding: 20px 20px;
    }
}
/*This media query is for iPad*/
@media screen and (max-width: 768px) {
    body {
        background-color:beige;
        padding: 40px 40px;
    }
}